/*import fonts.css and _variables.css*/

@import url(./fonts.css);
@import url(./partials/_variables.css);


/*Navigation Bar start*/

.header_area.main-menu.navbar.navbar-brand{
    padding: 0 2rem 0 5rem;

}

.header_area .main-menu .navbar{
    padding: 1rem 20rem
}

.header_area.main-menu.nav-item.nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area.main-menu.navbar-nav.active a{
    background: var(--gradient-color);
    -webkit-text-fill-color: transparent;
}
/*navbar end*/

