


h1 {
  font-family: Orbitron, monospace;
  display: block;
  font-size: 20px;
}


h2 {
  font-size: 50px;
  font-family: Lobster, monospace;
  margin: 150px;
  color: darkorchid;
}
  
a:hover {
  color: red;
}


.img2 {
  margin-top: 100px;
  margin-left: 100px;
  width: 450px;
  height: 450px;
  transition-duration: 350ms;
  transition-property: transform;
  transition-timing-function: ease;
}

.header-background {
  background-color: cornflowerblue;
  border-radius: 15px;
}

.big-heading {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
  font-family: "Robot Mono", monospace;
  font-size: 30px;
}
 
 
.h3A {
  font-family: 'Robot Mono', monospace;
  font-size: 60px;
  padding: 20px;
  color: #00ffe7;
  float: right;
  margin-right: 100px;
}

.h3B {
  font-family: 'Robot Mono', monospace;
  font-size: 60px;
  padding: 20px;
  color: #2ECC71;
  float: left;
  margin-left: 100px;
}

p {
  font-size: 20px;
  font-family: monospace, Lobster;
  margin-right: 10px;
  opacity: 0.7;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

#thumbnail {
  box-shadow: 0 10px 20px rgba(44, 130, 201, 1), 0 6px 6px rgba(0,0,0,0.23);
}

#imgA1 {
  box-shadow: 0 10px 20px rgba(44, 130, 201, 1), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 10%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #8FFF46 ;
  border-radius: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container1 {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-col {
  color: white;
}

.avatar {
  width: 200px;
  height: 200px;
  background-color: #2ECC71;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}


.pimg {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

@keyframes float{
  0%{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0, 0.6);
    transform: translatey(-20px);
  }
}


.content {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  text-align: center;
  box-sizing: border-box;
}

.h1 {
  font-size: 100px;
  color: #000000;
  margin-top: 500px;
  margin-left: 100px;
  font-family: Calibri;
}

.span1 {
  font-family: Orbitron, Lobster;
  font-size: 30px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 10px;
  background-color: rgba(45, 45, 45, 0.1);
  border-radius: 10%;
}



.span2 {
  font-family: Orbitron, Lobster;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  background-color: rgba(45, 45, 45, 0.1);
  border-radius: 10%
}

.box {
  width: 300px;
  height: 300px;
  background: #3DCCC7;
  transition-duration: 350ms;
  transition-property: background, transform;
  transition-timing-function: ease;
  border-radius: 10%;
}

.box:hover {
  background: #FF6B6B;
  transform: rotate(45deg);
}

.img2:hover {
  transform: rotate(180deg);
}


#progressbar:before
{
  content:'';
  position: absolute;
  top: 0;
  Left: 0;
  width: 1360px;
  height: 205px;
  background: linear-gradient(to top, #008aff, #00ffe7)
      ;
  filter: blur(30px);
}














