
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cabbe9;
  border-radius: 1%;
  min-height: 100%;
}

.image {
  width: 80px;
  height: 50px;
  margin-left: 20px;
}

a:hover {
  color: #ffa45c;
  font-family: consolas;
}

i {
  margin-right: 40px;
  
}

#fcc:hover {
  color: green;
  
}

#ig:hover {
  color: pink;
  
}

#gh:hover {
  color: grey;
  
}

#cp:hover {
  color: black;
  
}



body {
  font-family: "Poppins", sans-serif;
  background: #364f6b;
  color: white;
}

div {
  color: white;
}

*
{
  color: white;
}
