
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cabbe9;
  border-radius: 1%;
  min-height: 100%;
}

.image {
  width: 80px;
  height: 50px;
  margin-left: 20px;
}

body {
  background-color: #fccde2;
}

a:hover {
  color: #ffa45c;
  font-family: consolas;
}
